* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #CCD5FF;
}

header {
    /*background-color: black;*/
    display: flex;
    position: fixed;
    width: 100vw;
    background-color: #7CC6FE;
    align-items: center;
}

header > article {
    flex: 5;
    width: 200px;
    margin-left: 10px;
    margin-top: 8px;
}

header > article > img {
    width: 100px;
}

a {
	text-decoration: none;
    color: black;
    font-size: larger;
    margin-left: 50px;
    position: relative;
    right: 50px;
    font-family: 'Balsamiq Sans', cursive;
}

a:hover {
	color: purple;
}

section > article > p {
    font-size: 1.5rem;
}

h1 {
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
}

p {
    font-family: 'Balsamiq Sans', cursive;
}

span {
    width: 200px;
    border: green solid 2px;
}

footer > p {
    font-size: 1rem;
    margin: 0 0 30px 0;
    text-align: center;
}

footer > h6 {
    font-size: 0.8rem;
    text-align: center;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    font-family: 'Balsamiq Sans', cursive;
    padding: 40px 0 0 0;
    background-color: #7CC6FE;;
}

#Een, #Twee, #Drie, #Vier, #Vijf, #Zes {
    width: 100%;
    height: 100vh;
    grid-area: center;
}

#Drie, #Vier, #Vijf, #Zes {
   justify-content: center;
   
}

.middle {
    margin-top: 50px;
}

.middleBig {
    margin-top: 65px;
}

select {
    border-radius: 15px;
}

#grid-container {
    display: grid;
    height: 250px;
    width: 250px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    top: 35%;
    left: 18vw;
}

#grid-container > a:hover {
    border: 2px solid purple;
    height: 250px;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 4px;
    grid-auto-flow: rows;
    width: 100px;
    margin-left: 47%;
}

#navBar {
    display: block;
    width: auto;
    margin-left: 0;
}

input {
    width: 250px;
    height: 55px;
    border-radius: 15px;
    text-align: center;
}

button {
    width: 225px;
    height: 50px;
    border-radius: 10px;
}

.marginBottom {
    margin-bottom: 50px;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }
  
  
  input[type=submit] {
    background-color: #7CC6FE;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: purple;
  }
  
  .container {
    border-radius: 5px;
    background-color: #CCD5FF;
    padding: 20px;
  }

@media screen and (max-width: 480px) {

}

@media screen and (min-width: 481px) and (max-width: 768px) {

}

@media screen and (min-width: 769px) and (max-width: 1279px) {

}




